html, body{
    color: white;
    overflow: hidden;
    background-color: grey;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#codebox textarea{
    color: white;
    position: absolute;
    top: 0px;
}

#codebox{
    overflow-y: scroll;
}


#fileContent{
    overflow: auto;
    background-color: blue;
    resize: none;
    position: absolute;
    left: 35px;
    top: 0px;
    font-size: 15px;
}

#lineCount{
    overflow: auto;
    background-color: blue;
    resize: none;
    position: absolute;
    overflow-y: scroll;
    font-size: 15px;
}