html, body{
    color: cyan;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#codebox textarea{
    color: cyan;
    position: absolute;
    top: 0px;
}

#codebox{
    overflow-y: scroll;
}


#fileContent{
    overflow-y: scroll;
    background-color: rgb(53, 53, 53);
    resize: none;
    position: absolute;
    left: 35px;
    top: 0px;
    font-size: 15px;
    color: rgb(32, 167, 167);
}

#lineCount{
    overflow-y: scroll;
    background-color: rgb(53, 53, 53);
    resize: none;
    position: absolute;
    overflow-y: scroll;
    font-size: 15px;
    color: rgb(32, 167, 167);
}